<ul class="nav-menu">
    <li><a href="/change-management" class="nav-link">Change Management</a></li>
    <li class="nav-dropdown">
        <a href="/coaching" class="nav-link">Leadership Coaching ▾</a>
        <ul class="submenu">
            <li><a href="/coaching#womens" class="nav-link">Women's Program</a></li>
            <li><a href="/coaching#individual" class="nav-link">Individual Coaching</a></li>
            <li><a href="/coaching#single-session" class="nav-link">Single Session</a></li>
        </ul>
    </li>
    <li class="nav-dropdown">
        <a href="/corporate" class="nav-link">Corporate ▾</a>
        <ul class="submenu">
            <li><a href="/corporate#womens" class="nav-link">Women's Leadership</a></li>
            <li><a href="/corporate#leadership" class="nav-link">Corporate Leadership</a></li>
            <li><a href="/corporate#team" class="nav-link">Team Coaching</a></li>
        </ul>
    </li>
    <li><a href="/blog" class="nav-link">Blog</a></li>
    <li class="nav-dropdown">
        <a href="/about" class="nav-link">About ▾</a>
        <ul class="submenu">
            <li><a href="/about" class="nav-link">Meet Alexandra</a></li>
            <li><a href="/testimonials" class="nav-link">Testimonials</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </li>
    <li><a href="/contact" class="nav-link nav-cta">Book a Call</a></li>
</ul>
