<nav class="w-nav">
    <button class="nav-toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
    
    <ul class="nav-menu">
        <li><a href="{{ .Site.BaseURL }}" class="nav-link">Home</a></li>
        
        <li class="nav-dropdown">
            <a href="#" class="nav-link">Leadership Coaching</a>
            <ul class="submenu">
                <li><a href="#" class="nav-link">Women's Program</a></li>
                <li><a href="#" class="nav-link">Individual Coaching</a></li>
                <li><a href="#" class="nav-link">Single Session</a></li>
            </ul>
        </li>
        
        <li><a href="#" class="nav-link">Change Management</a></li>
        
        <li class="nav-dropdown">
            <a href="#" class="nav-link">Corporate Development</a>
            <ul class="submenu">
                <li><a href="#" class="nav-link">Women's Corporate Leadership</a></li>
                <li><a href="#" class="nav-link">Corporate Leadership</a></li>
                <li><a href="#" class="nav-link">Team Coaching</a></li>
            </ul>
        </li>
        
        <li><a href="#" class="nav-link">Blog</a></li>
        <li><a href="#" class="nav-link">Testimonials</a></li>
        <li><a href="#" class="nav-link">About</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
    </ul>
</nav>
